torch==2.5.1
torchvision==0.20.1
transformers==4.57.1
mmcv-full==1.7.2
timm==1.0.3
peft==0.13.2
flash-attn==2.7.4.post1
deepspeed==0.14.4
qwen_vl_utils
einops
ninja
packaging
numpy>=1.24,<2.0
pillow>=10.0
opencv-python>=4.8
tqdm
tensorboard
tensorboardX
yapf
addict
rich
